In [2]:
!pip install fasttext

In [3]:
!pip install nltk

In [4]:
# Mounting Drive
from google.colab import drive
drive.mount('/content/drive')

In [5]:
# Importing libraries
import pandas as pd
import numpy as np
import re

In [6]:
# Load the dataset
df = pd.read_csv('../../Datasets/fsa_prod_dump.csv', on_bad_lines='skip')
df.head()

,L0_Category,L1_Class,L2_Category,L3_Dictionary_SubCategory,L4_dictionarySubgroup,ProdName,ItemCode,Vendor,ProdType
0,NaN,NaN,NaN,NaN,NaN,GROUND CHUCK FLAP 50% CHUCK NECK 50%,623,Golden Gate Meat Company,Canonical
1,Food,Food - Meat & Game,Beef -- Ground & Shapes,Beef (Bulk) - Ground,Beef Ground >10% Fat (NAMP 136),FINE GRIND BEEF TUBES 81/19 6/10#,624,Golden Gate Meat Company,Canonical
2,Food,Food - Meat & Game,Beef - Foodservice Whole Cuts,Beef (Bulk) - Plate Cuts,Outside Skirt - Skinned (NAMP # 121E),AUST OUTSIDE SKIRT PEELED SOLD BY CASE,1717,Golden Gate Meat Company,Canonical
3,Food,Food - Meat & Game,Beef Deli & Charcuterie,Beef - Deli & Charcuterie,Beef Pastrami (NAMP # 611),PASTRAMI - NEW YORK STYLE- SABRA,1820,Golden Gate Meat Company,Canonical
4,Food,Food - Meat & Game,Beef Deli & Charcuterie,Beef - Deli & Charcuterie,Beef Pastrami (NAMP # 611),PASTRAMI SLICED 5# BAGS (50# CASE),1821,Golden Gate Meat Company,Canonical

In [7]:
# Separate dataset into 4 dataset based on L0_Category
# Preprocessing
# Droppig missing values
df = df.dropna(axis=0)

# Drop duplicates
df.drop_duplicates(keep='first', inplace=True)

In [8]:
df.L0_Category.unique()

array(['Food', 'Administrative', 'Operationals', 'Beverage'], dtype=object)

In [9]:
# Separate into 4 diffrent categories
df_food = df[df['L0_Category']=='Food']
df_administrative = df[df['L0_Category']=='Administrative']
df_operationals = df[df['L0_Category']=='Operationals']
df_beverage = df[df['L0_Category']=='Beverage']

In [10]:
print(df_food.L0_Category.unique())
print(df_administrative.L0_Category.unique())
print(df_operationals.L0_Category.unique())
print(df_beverage.L0_Category.unique())

['Food']
['Administrative']
['Operationals']
['Beverage']

In [11]:
# Save into four different csv
df_food.to_csv('../../Datasets/food.csv', header=True, index=False)
df_administrative.to_csv('../../Datasets/administrative.csv', header=True, index=False)
df_operationals.to_csv('../../Datasets/operationals.csv', header=True, index=False)
df_beverage.to_csv('../../Datasets/beverage.csv', header=True, index=False)

# **L4 Category**

In [12]:
# Preprocessing fuction for category
def class_pre(text):
  new_text = re.sub(r'&', 'and', text)
  new_text = re.sub(r'[^\w\s]',' ', new_text)
  new_text = re.sub(r' +', ' ', new_text)
  new_text = re.sub(r'\s', '_', new_text)
  return new_text

In [13]:
# Replace all white spaces whith single space
# Remove white spaces in begining and end of the text
# Turn text into lower case

# Preprocessing Function
def preprocess(text):
    text = re.sub(r'&', 'and', text)
    text = re.sub(r'[^\w\s]',' ', text)
    text = re.sub(' +', ' ', text)
    return text.strip().lower()

In [14]:
# Cleaning function currently using
# import nltk
# from nltk.corpus import stopwords

# # Download stopwords
# nltk.download("stopwords")

In [15]:
# Did a slight modification, convert & into and
# Then removes extra whitespaces

# def clean(string):
#     string = re.sub('&', 'and ', string)
#     raw_text = re.sub("[^a-zA-Z]+", " ", string)
#     raw_text = re.sub(' +', ' ', raw_text)
#     raw_text = raw_text.strip()
#     words = raw_text.lower().split()
#     stops = set(stopwords.words("english"))
#     meaningful_words = [
#         word for word in words if ((not word in stops) and (len(word) >= 3))
#     ]
#     string = " ".join(meaningful_words)
#     return string

## Administrative

In [16]:
df = pd.read_csv('../../Datasets/administrative.csv')
df.head()

,L0_Category,L1_Class,L2_Category,L3_Dictionary_SubCategory,L4_dictionarySubgroup,ProdName,ItemCode,Vendor,ProdType
0,Administrative,Administrative Transactions,Admin -- Unclassifiable Products,Admin --- Unclassifiable Products,Unclassifiable Items - Holding L4,NEW CODE,115,Golden Gate Meat Company,Canonical
1,Administrative,Administrative Transactions,Admin -- Unclassifiable Products,Admin --- Unclassifiable Products,Unclassifiable Items - Holding L4,NEW CODE,3166,Golden Gate Meat Company,Canonical
2,Administrative,Administrative Transactions,Admin -- Charges,Admin --- Shipping & Handling Fees,Shipping Charge,SHIPPING CHARGE,9666,Golden Gate Meat Company,Canonical
3,Administrative,Administrative Transactions,Admin -- Charges,Admin --- Shipping & Handling Fees,Delivery Fee,DELIVERY CHARGE - EACH,9667,Golden Gate Meat Company,Canonical
4,Administrative,Administrative Transactions,Admin -- Charges,Admin --- Custom Services Fees,Miscellaneous Items,MISCELANEOUS,99999,Golden Gate Meat Company,Canonical

In [17]:
# Counting L4 Category classes
len(df.L4_dictionarySubgroup.unique())

18

In [18]:
value_counts = df.L4_dictionarySubgroup.value_counts()
filtered_counts = value_counts[value_counts < 15]
print(filtered_counts)

L4_dictionarySubgroup
Miscellaneous Items                           12
Promotional Allowances                        11
Handling Fee                                   4
Pick Up Charge                                 3
Fuel Surcharge                                 3
Shipping Charge                                2
Crate or Pallet Delivery - Pick Up Charges     2
Storage Charge                                 2
Custom Design & Printing                       1
Plate Charges for Artwork                      1
Returns                                        1
Name: count, dtype: int64

In [19]:
# Check value counts in a plot
# Import libraries
# import matplotlib.pyplot as plt

# # Get the values count
# counts = df.L4_dictionarySubgroup.value_counts()


# # Change the figure size
# # fig = plt.figure(figsize=(10, 15))

# for index, value in enumerate(counts.values):
#     plt.text(value + 1, index, str(value))

# plt.barh(counts.index, counts.values)
# plt.show()

In [20]:
# Checking the number of data points
df.shape

(1327, 9)

In [21]:
# making the category
df['L4'] = df['L4_dictionarySubgroup'].apply(class_pre)

In [22]:
# Making the category using labels into format
df['category'] = '__label__' + df['L4'].astype(str)

In [23]:
# Dropping irrelavant columns
columns = ['L0_Category', 'L4_dictionarySubgroup', 'ItemCode', 'Vendor', 'ProdType', 'L4']

# Dropping
df = df.drop(columns, axis=1)

In [24]:
df.head()

,L1_Class,L2_Category,L3_Dictionary_SubCategory,ProdName,category
0,Administrative Transactions,Admin -- Unclassifiable Products,Admin --- Unclassifiable Products,NEW CODE,__label__Unclassifiable_Items_Holding_L4
1,Administrative Transactions,Admin -- Unclassifiable Products,Admin --- Unclassifiable Products,NEW CODE,__label__Unclassifiable_Items_Holding_L4
2,Administrative Transactions,Admin -- Charges,Admin --- Shipping & Handling Fees,SHIPPING CHARGE,__label__Shipping_Charge
3,Administrative Transactions,Admin -- Charges,Admin --- Shipping & Handling Fees,DELIVERY CHARGE - EACH,__label__Delivery_Fee
4,Administrative Transactions,Admin -- Charges,Admin --- Custom Services Fees,MISCELANEOUS,__label__Miscellaneous_Items

In [25]:
# Creating catehory description with producbt name and vendor
# df['category_description'] = df['category'] + ' ' + df['L1_Class'] + ' ' + df['L2_Category'] + ' ' + df['L3_Dictionary_SubCategory'] + ' ' + df['ProdName']
df['category_description'] = df['category'] + ' ' + df['L3_Dictionary_SubCategory'] + ' ' + df['ProdName']

In [26]:
# Drop used columns
columns = ['L1_Class', 'L2_Category', 'L3_Dictionary_SubCategory', 'ProdName']

df = df.drop(columns, axis=1)

In [27]:
# Apply preprocessing function to 'category_description'

df['category_description'] = df['category_description'].apply(preprocess)

In [28]:
# Test Train splitting
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.1, random_state=42)

In [29]:
# Save test and train dataset into two differnet files
train.to_csv('admin_train.train',
             columns=["category_description"],
             index=False,
             header=False)

test.to_csv('admin_test.train',
             columns=["category_description"],
             index=False,
             header=False)

In [30]:
# Fast text model
import fasttext

model = fasttext.train_supervised(input='admin_train.train',
                                  dim=300,
                                  loss='hs',
                                  wordNgrams=3,
                                  lr=0.5,
                                  epoch=20,
                                  minn=3,
                                  maxn=5)

model.test('admin_test.train')

(133, 0.9849624060150376, 0.9849624060150376)

In [31]:
text = 'Admin --- Unclassifiable Products	CODE 101 NEW Product'
text = preprocess(text)
model.predict(text, k=5)
# Correct class - Delivery fee

(('__label__unclassifiable_items_holding_l4', '__label__all_other_charges'),
 array([1.00000501e+00, 1.06870084e-05]))

In [32]:
model.save_model('../../Models/L4/Administrative/tuned_model.bin')

Selecting datapoints with for prediction

In [33]:
sample = pd.read_csv('../../Datasets/administrative.csv')
sample.head()

,L0_Category,L1_Class,L2_Category,L3_Dictionary_SubCategory,L4_dictionarySubgroup,ProdName,ItemCode,Vendor,ProdType
0,Administrative,Administrative Transactions,Admin -- Unclassifiable Products,Admin --- Unclassifiable Products,Unclassifiable Items - Holding L4,NEW CODE,115,Golden Gate Meat Company,Canonical
1,Administrative,Administrative Transactions,Admin -- Unclassifiable Products,Admin --- Unclassifiable Products,Unclassifiable Items - Holding L4,NEW CODE,3166,Golden Gate Meat Company,Canonical
2,Administrative,Administrative Transactions,Admin -- Charges,Admin --- Shipping & Handling Fees,Shipping Charge,SHIPPING CHARGE,9666,Golden Gate Meat Company,Canonical
3,Administrative,Administrative Transactions,Admin -- Charges,Admin --- Shipping & Handling Fees,Delivery Fee,DELIVERY CHARGE - EACH,9667,Golden Gate Meat Company,Canonical
4,Administrative,Administrative Transactions,Admin -- Charges,Admin --- Custom Services Fees,Miscellaneous Items,MISCELANEOUS,99999,Golden Gate Meat Company,Canonical

In [34]:
drop_columns = ['L0_Category', 'L1_Class', 'L2_Category', 'ItemCode', 'Vendor', 'ProdType']
sample = sample.drop(drop_columns, axis=1)

In [35]:
sample.head(10)

,L3_Dictionary_SubCategory,L4_dictionarySubgroup,ProdName
0,Admin --- Unclassifiable Products,Unclassifiable Items - Holding L4,NEW CODE
1,Admin --- Unclassifiable Products,Unclassifiable Items - Holding L4,NEW CODE
2,Admin --- Shipping & Handling Fees,Shipping Charge,SHIPPING CHARGE
3,Admin --- Shipping & Handling Fees,Delivery Fee,DELIVERY CHARGE - EACH
4,Admin --- Custom Services Fees,Miscellaneous Items,MISCELANEOUS
5,Admin --- Unclassifiable Products,Unclassifiable Items - Holding L4,NEW CODE
6,Admin --- Unclassifiable Products,Unclassifiable Items - Holding L4,OLD CODE DON`T USE
7,Admin --- Unclassifiable Products,Unclassifiable Items - Holding L4,NEW CODE
8,Admin --- Unclassifiable Products,Unclassifiable Items - Holding L4,OLD CODE
9,Admin --- Unclassifiable Products,Unclassifiable Items - Holding L4,NEW CODE

In [36]:
uniques = sample.L4_dictionarySubgroup.unique()
for unique in uniques:
  print(unique)

Unclassifiable Items - Holding L4
Shipping Charge
Delivery Fee
Miscellaneous Items
Samples
Iced Tea BIBs
Pick Up Charge
Product Credits
Handling Fee
All Other Charges
Freight Charge
Fuel Surcharge
Promotional Allowances
Custom Design & Printing
Crate or Pallet Delivery - Pick Up Charges
Storage Charge
Plate Charges for Artwork
Returns

In [ ]:
# Selecting a product for getting the real class name
# In this way, the correct class is known and we can verify the prediction
sample_test = sample[sample['L4_dictionarySubgroup']=='Unclassifiable Items - Holding L4']
sample_test.head()

### **Lable preprocessing Function**

This will remove the unwanted parts from the predicted lable and return the lable in much readable manner

In [ ]:
prediction = model.predict(text)
print(prediction[0][0])

In [ ]:
# This function process the prediction by getting the input
def get_lable(text):
  # Processing the text
  text = preprocess(text)
  # Get the prediction
  prediction = model.predict(text)
  return prediction[0][0]

In [ ]:
from_func = get_lable(text)
print(from_func)

In [ ]:
# Function to preprocess the lable
def label_processing(label):
  label = re.sub('__label__', '', label)
  label = re.sub('_', ' ', label)
  label = re.sub(' +', ' ', label)
  return label.strip().lower()

In [ ]:
print(label_processing(from_func))